{% extends 'polls/__base_site__.html' %}

{% block coltype %}{{ block.super }} tm-middle{% endblock %}
{% block contentclass %}uk-container uk-container-center{% endblock %}

{% block script %}{{ block.super }}
<script>
function validateEmail(email) {
    var re = /^[a-z0-9\.\-\_]+\@[a-z0-9\-\_]+(\.[a-z0-9\-\_]+){1,4}$/;
    return re.test(email.toLowerCase());
}
$.ajaxSetup({
        data: {csrfmiddlewaretoken: '{{ csrf_token }}' },
    });
$(function () {
    var vm = new Vue({
        el: '#vm',
        data: {
            name: '',
            email: '',
            password1: '',
            password2: '',
        },
        methods: {
            submit: function (event) {
                event.preventDefault();
                var $form = $('#vm');
                if (! this.name.trim()) {
{#                    return $form.showFormError('请输入名字');#}
                }
                if (! validateEmail(this.email.trim().toLowerCase())) {
{#                    return $form.showFormError('请输入正确的Email地址');#}
                }
                if (this.password1.length < 6) {
{#                    return $form.showFormError('密码应不小于6位');#}
                }
                if (this.password1 !== this.password2) {
{#                    return $form.showFormError('两次输入的密码不一致');#}
                }
                var email = this.email.trim().toLowerCase();

//                var jsencrypt = new JSEncrypt();
//                jsencrypt.setPublicKey(pk);
//                this.name = jsencrypt.encrypt(this.name);
//                this.password = jsencrypt.encrypt(this.password);
//                this.email = jsencrypt.encrypt(this.email);
//                this.csrfmiddlewaretoken = '{{ csrf_token }}'
//                $form.postJSON('http://127.0.0.1:8000/polls/login/', {
//                    name: '1111111',
//                    email: email,
//                    password: CryptoJS.SHA1(email + ':' + this.password1).toString(),
//                    csrfmiddlewaretoken: '{{ csrf_token }}'
//                }, function (err, r) {
//                    if (err) {
//                        return $form.showFormError(err);
//                    }
//                    return location.assign('/');
//                });

                $.post("{{ app_path }}",{'username': username, 'email': '111111', 'password': '123456'}, function(ret){

        })
            }
        }
    });
    $('#vm').show();
});
//Vue.http.post().then()
$("form").submit(function(e){
  alert("Submitted");
});
</script>
<script>
    $.ajaxSetup({
        data: {csrfmiddlewaretoken: '{{ csrf_token }}' },
    });
    $(document).ready(function(){
      $("#login_submit").click(function(){
        var username = $("#username").val();
        var email = $("#email").val();
        var password = $("#password").val();
        var password1 = $("#password1").val();
        var next = $("#next").val();

        var body = {
            'username': username,
            'email': email,
            'password': password,
            'password1': password1,
            'next': next
        };
        $.post("{{ app_path }}",body, function(ret){
            $('').html(ret)
        })
      });
    });
</script>
{% endblock %}
{% block content %}
    <div class="uk-container uk-container-center uk-panel uk-border-rounded" style="background-color: #0BA1D8">

    <form class="uk-form uk-form-stacked" method="post" id="vm" v-on="submit: submit">{% csrf_token %}
        <fieldset data-uk-margin>
            <legend>登陆</legend>
            <br class="clear">
            <div class="uk-alert uk-alert-danger uk-hidden"></div>
        <div class="uk-form-row">
            <label class="required uk-form-label" for="id_username">Username:</label>
            <input v-model='name' class="uk-width-1-1 uk-form-width-large" type="text" id="username" name="username" autofocus maxlength="254" required id="id_username" />
        </div>
        <div class="uk-form-row">
            <label class="required uk-form-label" for="id_username">email:</label>
            <input v-model='email' class="uk-width-1-1" type="text" id="email" name="email" autofocus maxlength="254" required id="id_email" />
        </div>

        <div class="uk-form-row">
            <label class="required uk-form-label" for="id_password">Password:</label>
            <input v-model='password1' class="uk-width-1-1" type="password" id="password" name="password" required id="id_password" />
        </div>

        <div class="uk-form-row">
            <label class="required uk-form-label" for="id_password">Password(again):</label>
            <input v-model='password2' class="uk-width-1-1" type="password" id="password1" name="password1" required id="id_password2" />
            <input class="uk-width-1-1" type="hidden" id="next" name="next" value="/admin/" />
        </div>
        <br class="clear">
        <div class="uk-form-row uk-container uk-container-center">
            <button class="uk-button uk-button-large" type="submit" value="Login" data-uk-button>Log in</button>
        </div>
            <br class="clear">
            <br class="clear">
        </fieldset>
    </form>
    </div>

{% endblock %}